$border: 1px solid #c3c3c3;
$cell-bg: #f6f6f6;
$cover-bg: #076480;

@keyframes hint {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

.grid {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  border-top: $border;
  border-left: $border;
  cursor: pointer;
  user-select: none;
}

.row {
  width: auto;
}

.cell {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-right: $border;
  border-bottom: $border;
  background: $cell-bg;

  .cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $cover-bg;

    &:hover {
      background: #0a85ab;
    }

    &.hint {
      animation: hint 1s ease 0s 3;
    }
  }

  .flag {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: red;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 60px;

  .btn {
    padding: 6px 12px;
    background: #ffffff;
    border: 1px solid #666666;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    transition: .3s;

    &:hover {
      background: #eeeeee;
    }
  }
}